In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.layers import LSTM, Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import KFold
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error
from seaborn import histplot

In [3]:
data = pd.read_csv(r'T:\toandangquoc\iuh_project_finals\data\data_train_model.csv')
data['date'] = pd.to_datetime(data['date'])
data.set_index('date', inplace=True)
data.fillna(0, inplace=True)

In [4]:
data.head()

,high,low,open,unix,cum_change,sma_7_up,sma_7,sma_7_low,ema_14,b_ma,bu,bl,cma_7,month,atr,year,ppo,close
date,,,,,,,,,,,,,,,,,,
2020-01-02,209.789993,206.270004,206.750000,1577923200,0.045198,210.794776,209.779999,207.655221,209.779999,217.042583,227.120132,206.965034,211.514287,1,3.519989,2020,0.000000,209.779999
2020-01-03,210.399994,206.949997,207.210007,1578009600,0.090156,210.794776,209.224998,207.655221,209.631999,217.042583,227.120132,206.965034,211.514287,1,3.514990,2020,-0.042226,208.669998
2020-01-04,211.193329,206.806666,207.040003,1578096000,0.135397,210.888098,209.476666,208.065234,209.678399,217.042583,227.120132,206.965034,211.514287,1,3.577252,2020,-0.024991,209.980001
2020-01-05,211.986664,206.663335,206.870000,1578182400,0.180920,212.078555,209.930000,207.781446,209.893280,217.042583,227.120132,206.965034,211.514287,1,3.701972,2020,0.038602,211.290003
2020-01-06,212.779999,206.520004,206.699997,1578268800,0.226725,213.491436,210.464001,207.436567,210.254176,217.042583,227.120132,206.965034,211.514287,1,3.884688,2020,0.137642,212.600006

In [5]:
split_ratio=0.8
cut_off = int(len(data) * split_ratio)
train = data[:cut_off]
test = data[cut_off:]

In [10]:
train.shape

(1338, 18)

In [11]:
test.shape

(335, 18)

In [12]:
scaler = MinMaxScaler(feature_range=(0, 1))
scaled_train = scaler.fit_transform(train)
scaled_train

array([[0.4060639 , 0.40650801, 0.40010289, ..., 0.        , 0.53746862,
        0.4121458 ],
       [0.40813965, 0.408847  , 0.40168041, ..., 0.        , 0.53536464,
        0.40836089],
       [0.41083927, 0.40835398, 0.40109741, ..., 0.        , 0.5362234 ,
        0.41282778],
       ...,
       [0.71014395, 0.68825673, 0.68072699, ..., 1.        , 0.47558276,
        0.71292664],
       [0.70721754, 0.70631534, 0.71018525, ..., 1.        , 0.48484985,
        0.70307229],
       [0.71677958, 0.71398599, 0.70548694, ..., 1.        , 0.49378252,
        0.70576608]])

In [13]:
check = scaler.inverse_transform(scaled_train)[:, -1]

In [ ]:
check

array([209.77999878, 208.66999817, 209.98000081, ..., 297.98999023,
       295.1000061 , 295.89001465])