In [63]:
import pandas as pd
import yfinance as yf

In [64]:
ticker = 'TSLA'
stock = yf.Ticker(ticker)
financials = stock.financials
print(financials)

                                                       2023-12-31  \
Tax Effect Of Unusual Items                                   0.0
Tax Rate For Calcs                                           0.21
Normalized EBITDA                                   14796000000.0
Total Unusual Items                                           0.0
Total Unusual Items Excluding Goodwill                        0.0
Net Income From Continuing Operation Net Minori...  14999000000.0
Reconciled Depreciation                              4667000000.0
Reconciled Cost Of Revenue                          79113000000.0
EBITDA                                              14796000000.0
EBIT                                                10129000000.0
Net Interest Income                                   910000000.0
Interest Expense                                      156000000.0
Interest Income                                      1066000000.0
Normalized Income                                   14999000000.0
Net Income From Continuing And Discontinued Ope...  14999000000.0
Total Expenses                                      87882000000.0
Rent Expense Supplemental                            1268000000.0
Total Operating Income As Reported                   8891000000.0
Diluted Average Shares                               3485000000.0
Basic Average Shares                                 3174000000.0
Diluted EPS                                                   4.3
Basic EPS                                                    4.73
Diluted NI Availto Com Stockholders                 14999000000.0
Average Dilution Earnings                                     0.0
Net Income Common Stockholders                      14999000000.0
Otherunder Preferred Stock Dividend                           NaN
Net Income                                          14999000000.0
Minority Interests                                     25000000.0
Net Income Including Noncontrolling Interests       14974000000.0
Net Income Continuous Operations                    14974000000.0
Tax Provision                                       -5001000000.0
Pretax Income                                        9973000000.0
Other Income Expense                                  172000000.0
Other Non Operating Income Expenses                   172000000.0
Special Income Charges                                        0.0
Restructuring And Mergern Acquisition                         0.0
Net Non Operating Interest Income Expense             910000000.0
Interest Expense Non Operating                        156000000.0
Interest Income Non Operating                        1066000000.0
Operating Income                                     8891000000.0
Operating Expense                                    8769000000.0
Research And Development                             3969000000.0
Selling General And Administration                   4800000000.0
Gross Profit                                        17660000000.0
Cost Of Revenue                                     79113000000.0
Total Revenue                                       96773000000.0
Operating Revenue                                   96773000000.0

                                                       2022-12-31  \
Tax Effect Of Unusual Items                           -14080000.0
Tax Rate For Calcs                                           0.08
Normalized EBITDA                                   17833000000.0
Total Unusual Items                                  -176000000.0
Total Unusual Items Excluding Goodwill               -176000000.0
Net Income From Continuing Operation Net Minori...  12583000000.0
Reconciled Depreciation                              3747000000.0
Reconciled Cost Of Revenue                          60609000000.0
EBITDA                                              17657000000.0
EBIT                                                13910000000.0
Net Interest Income                                   106000000.0
Interest Expense                                      191000000.0
Interest Income                                       297000000.0
Normalized Income                                   12744920000.0
Net Income From Continuing And Discontinued Ope...  12583000000.0
Total Expenses                                      67630000000.0
Rent Expense Supplemental                            1509000000.0
Total Operating Income As Reported                  13656000000.0
Diluted Average Shares                               3475000000.0
Basic Average Shares                                 3130000000.0
Diluted EPS                                                  3.62
Basic EPS                                                    4.02
Diluted NI Availto Com Stockholders                 12584000000.0
Average Dilution Earnings                               1000000.0
Net Income Common Stockholders                      12583000000.0
Otherunder Preferred Stock Dividend                           NaN
Net Income                                          12583000000.0
Minority Interests                                     -4000000.0
Net Income Including Noncontrolling Interests       12587000000.0
Net Income Continuous Operations                    12587000000.0
Tax Provision                                        1132000000.0
Pretax Income                                       13719000000.0
Other Income Expense                                 -219000000.0
Other Non Operating Income Expenses                   -43000000.0
Special Income Charges                               -176000000.0
Restructuring And Mergern Acquisition                 176000000.0
Net Non Operating Interest Income Expense             106000000.0
Interest Expense Non Operating                        191000000.0
Interest Income Non Operating                         297000000.0
Operating Income                                    13832000000.0
Operating Expense                                    7021000000.0
Research And Development                             3075000000.0
Selling General And Administration                   3946000000.0
Gross Profit                                        20853000000.0
Cost Of Revenue                                     60609000000.0
Total Revenue                                       81462000000.0
Operating Revenue                                   81462000000.0

                                                       2021-12-31  \
Tax Effect Of Unusual Items                             2970000.0
Tax Rate For Calcs                                           0.11
Normalized EBITDA                                    9598000000.0
Total Unusual Items                                    27000000.0
Total Unusual Items Excluding Goodwill                 27000000.0
Net Income From Continuing Operation Net Minori...   5524000000.0
Reconciled Depreciation                              2911000000.0
Reconciled Cost Of Revenue                          40217000000.0
EBITDA                                               9625000000.0
EBIT                                                 6714000000.0
Net Interest Income                                  -315000000.0
Interest Expense                                      371000000.0
Interest Income                                        56000000.0
Normalized Income                                    5499970000.0
Net Income From Continuing And Discontinued Ope...   5524000000.0
Total Expenses                                      47327000000.0
Rent Expense Supplemental                             978000000.0
Total Operating Income As Reported                   6523000000.0
Diluted Average Shares                               3386000000.0
Basic Average Shares                                 2959000000.0
Diluted EPS                                                  1.63
Basic EPS                                                    1.87
Diluted NI Availto Com Stockholders                  5533000000.0
Average Dilution Earnings                               9000000.0
Net Income Common Stockholders                       5524000000.0
Otherunder Preferred Stock Dividend                    -5000000.0
Net Income                                           5524000000.0
Minority Interests                                   -120000000.0
Net Income Including Noncontrolling Interests        5644000000.0
Net Income Continuous Operations                     5644000000.0
Tax Provision                                         699000000.0
Pretax Income                                        6343000000.0
Other Income Expense                                  162000000.0
Other Non Operating Income Expenses                   135000000.0
Special Income Charges                                 27000000.0
Restructuring And Mergern Acquisition                 -27000000.0
Net Non Operating Interest Income Expense            -315000000.0
Interest Expense Non Operating                        371000000.0
Interest Income Non Operating                          56000000.0
Operating Income                                     6496000000.0
Operating Expense                                    7110000000.0
Research And Development                             2593000000.0
Selling General And Administration                   4517000000.0
Gross Profit                                        13606000000.0
Cost Of Revenue                                     40217000000.0
Total Revenue                                       53823000000.0
Operating Revenue                                   53823000000.0

                                                       2020-12-31 2019-12-31
Tax Effect Of Unusual Items                                   0.0        NaN
Tax Rate For Calcs                                           0.25        NaN
Normalized EBITDA                                    4224000000.0        NaN
Total Unusual Items                                           0.0        NaN
Total Unusual Items Excluding Goodwill                        0.0        NaN
Net Income From Continuing Operation Net Minori...    721000000.0        NaN
Reconciled Depreciation                              2322000000.0        NaN
Reconciled Cost Of Revenue                          24906000000.0        NaN
EBITDA                                               4224000000.0        NaN
EBIT                                                 1902000000.0        NaN
Net Interest Income                                  -718000000.0        NaN
Interest Expense                                      748000000.0        NaN
Interest Income                                        30000000.0        NaN
Normalized Income                                     721000000.0        NaN
Net Income From Continuing And Discontinued Ope...    721000000.0        NaN
Total Expenses                                      29542000000.0        NaN
Rent Expense Supplemental                             563000000.0        NaN
Total Operating Income As Reported                  -1994000000.0        NaN
Diluted Average Shares                               3249000000.0        NaN
Basic Average Shares                                 2799000000.0        NaN
Diluted EPS                                              0.213333        NaN
Basic EPS                                                0.246667        NaN
Diluted NI Availto Com Stockholders                   690000000.0        NaN
Average Dilution Earnings                                     0.0        NaN
Net Income Common Stockholders                        690000000.0        NaN
Otherunder Preferred Stock Dividend                    31000000.0  8000000.0
Net Income                                            721000000.0        NaN
Minority Interests                                   -141000000.0        NaN
Net Income Including Noncontrolling Interests         862000000.0        NaN
Net Income Continuous Operations                      862000000.0        NaN
Tax Provision                                         292000000.0        NaN
Pretax Income                                        1154000000.0        NaN
Other Income Expense                                 -122000000.0        NaN
Other Non Operating Income Expenses                  -122000000.0        NaN
Special Income Charges                                        0.0        NaN
Restructuring And Mergern Acquisition                         0.0        NaN
Net Non Operating Interest Income Expense            -718000000.0        NaN
Interest Expense Non Operating                        748000000.0        NaN
Interest Income Non Operating                          30000000.0        NaN
Operating Income                                     1994000000.0        NaN
Operating Expense                                    4636000000.0        NaN
Research And Development                             1491000000.0        NaN
Selling General And Administration                   3145000000.0        NaN
Gross Profit                                         6630000000.0        NaN
Cost Of Revenue                                     24906000000.0        NaN
Total Revenue                                       31536000000.0        NaN
Operating Revenue                                   31536000000.0        NaN

In [65]:
Net_Income = financials.loc['Net Income']

In [66]:
Net_Income

2023-12-31    14999000000.0
2022-12-31    12583000000.0
2021-12-31     5524000000.0
2020-12-31      721000000.0
2019-12-31              NaN
Name: Net Income, dtype: object

In [67]:
Net_Income = Net_Income.dropna()

In [68]:
Net_Income['2024-12-31'] = Net_Income['2023-12-31']

In [69]:
Net_Income

2023-12-31    14999000000.0
2022-12-31    12583000000.0
2021-12-31     5524000000.0
2020-12-31      721000000.0
2024-12-31    14999000000.0
Name: Net Income, dtype: object

In [70]:
pd.to_datetime(Net_Income.index)

DatetimeIndex(['2023-12-31', '2022-12-31', '2021-12-31', '2020-12-31',
               '2024-12-31'],
              dtype='datetime64[ns]', freq=None)

In [71]:
Net_Income

2023-12-31    14999000000.0
2022-12-31    12583000000.0
2021-12-31     5524000000.0
2020-12-31      721000000.0
2024-12-31    14999000000.0
Name: Net Income, dtype: object

In [72]:
Net_Income.index.year

Index([2023, 2022, 2021, 2020, 2024], dtype='int32')

In [73]:
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/TSLA_Technical.csv")
df.head()

,date,close,high,low,open,volume,year,quarter,month,day,...,bu,sma_7,sma_7_up,sma_7_low,rsi,k,d,wr,cci,ppo
0,2020-01-02,209.779999,209.789993,206.270004,206.750000,1.207710e+07,2020,1,1,2,...,NaN,209.779999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
1,2020-01-03,208.669998,210.399994,206.949997,207.210007,1.118840e+07,2020,1,1,3,...,NaN,209.224998,210.794776,207.655221,NaN,NaN,NaN,NaN,NaN,-0.042226
2,2020-01-04,209.980001,211.193329,206.806666,207.040003,1.314523e+07,2020,1,1,4,...,NaN,209.476666,210.888098,208.065234,NaN,NaN,NaN,NaN,NaN,-0.024991
3,2020-01-05,211.290003,211.986664,206.663335,206.870000,1.510207e+07,2020,1,1,5,...,NaN,209.930000,212.078555,207.781446,NaN,NaN,NaN,NaN,NaN,0.038602
4,2020-01-06,212.600006,212.779999,206.520004,206.699997,1.705890e+07,2020,1,1,6,...,NaN,210.464001,213.491436,207.436567,NaN,NaN,NaN,NaN,NaN,0.137642

In [74]:
df['year'].value_counts()

year
2020    365
2021    365
2022    365
2023    365
2024    213
Name: count, dtype: int64

In [75]:
Net_Income.index.year

Index([2023, 2022, 2021, 2020, 2024], dtype='int32')

In [76]:
df_selected = df[['date', 'close', 'high', 'low', 'open', 'volume', 'year']]

In [77]:
df_selected.head()

,date,close,high,low,open,volume,year
0,2020-01-02,209.779999,209.789993,206.270004,206.750000,1.207710e+07,2020
1,2020-01-03,208.669998,210.399994,206.949997,207.210007,1.118840e+07,2020
2,2020-01-04,209.980001,211.193329,206.806666,207.040003,1.314523e+07,2020
3,2020-01-05,211.290003,211.986664,206.663335,206.870000,1.510207e+07,2020
4,2020-01-06,212.600006,212.779999,206.520004,206.699997,1.705890e+07,2020

In [78]:
df_selected['net_income'] = df_selected['year'].map(lambda x: Net_Income.loc[Net_Income.index.year == x].values[0] if x in Net_Income.index.year else None)

<ipython-input-78-1e032450aa92>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected['net_income'] = df_selected['year'].map(lambda x: Net_Income.loc[Net_Income.index.year == x].values[0] if x in Net_Income.index.year else None)

In [79]:
df_selected.head()

,date,close,high,low,open,volume,year,net_income
0,2020-01-02,209.779999,209.789993,206.270004,206.750000,1.207710e+07,2020,721000000.0
1,2020-01-03,208.669998,210.399994,206.949997,207.210007,1.118840e+07,2020,721000000.0
2,2020-01-04,209.980001,211.193329,206.806666,207.040003,1.314523e+07,2020,721000000.0
3,2020-01-05,211.290003,211.986664,206.663335,206.870000,1.510207e+07,2020,721000000.0
4,2020-01-06,212.600006,212.779999,206.520004,206.699997,1.705890e+07,2020,721000000.0

In [81]:
df_selected['net_income']  = df_selected['net_income'] / 365

<ipython-input-81-10ab69673365>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected['net_income']  = df_selected['net_income'] / 365

In [82]:
df_selected['esp'] = df_selected['net_income'] / df_selected['volume']

<ipython-input-82-971986e0ecc0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected['esp'] = df_selected['net_income'] / df_selected['volume']

In [83]:
df_selected.head()

,date,close,high,low,open,volume,year,net_income,esp
0,2020-01-02,209.779999,209.789993,206.270004,206.750000,1.207710e+07,2020,1.975342e+06,0.163561
1,2020-01-03,208.669998,210.399994,206.949997,207.210007,1.118840e+07,2020,1.975342e+06,0.176553
2,2020-01-04,209.980001,211.193329,206.806666,207.040003,1.314523e+07,2020,1.975342e+06,0.150271
3,2020-01-05,211.290003,211.986664,206.663335,206.870000,1.510207e+07,2020,1.975342e+06,0.130799
4,2020-01-06,212.600006,212.779999,206.520004,206.699997,1.705890e+07,2020,1.975342e+06,0.115795

In [84]:
df_selected['P/E'] = df_selected['close'] / df_selected['esp']

<ipython-input-84-45729ea31ede>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected['P/E'] = df_selected['close'] / df_selected['esp']

In [85]:
df_selected.head()

,date,close,high,low,open,volume,year,net_income,esp,P/E
0,2020-01-02,209.779999,209.789993,206.270004,206.750000,1.207710e+07,2020,1.975342e+06,0.163561,1282.579637
1,2020-01-03,208.669998,210.399994,206.949997,207.210007,1.118840e+07,2020,1.975342e+06,0.176553,1181.913237
2,2020-01-04,209.980001,211.193329,206.806666,207.040003,1.314523e+07,2020,1.975342e+06,0.150271,1397.345602
3,2020-01-05,211.290003,211.986664,206.663335,206.870000,1.510207e+07,2020,1.975342e+06,0.130799,1615.373422
4,2020-01-06,212.600006,212.779999,206.520004,206.699997,1.705890e+07,2020,1.975342e+06,0.115795,1835.996698

In [88]:
df_selected = df_selected.drop(columns=['net_income', 'year'])

In [89]:
df_selected.to_csv("/content/drive/MyDrive/TSLA_fundamental.csv", index=False)